
.popular_projects h2 {
	font: normal 18px Arial,sans-serif;
	text-align:justify;
}
.popular_projects .block {
	display:inline-block;
	text-align:left;	
	margin-left:88px;
}
.popular_projects .block:first-of-type {
	margin-left:35px;
}
.popular_projects .title {
	font-weight:bold;
	font-size:16px;
}