.data-table {
background-color:#eeeeee;
width:100%;
border-collapse:collapse;
}
.data-table th{
border: 0px;
padding:5px;
font-weight:bold;
align:left;
text-align:left;
}
.data-table td{
b_order-top: 1px solid grey;
padding:5px;
}



